.fa-bolt {
  color: #FAEA73;
}
.fa-globe {
  color: #5CB85C;
}
.fa-facebook {
  color: #4393B9;
}
footer {
  background: #fff;
  margin-top: 75px;
}
footer p {
  margin-top: 1rem;
}
.no-margin {
  margin: 0;
}
.main-content {
  margin-top: 75px;
  margin-bottom: 75px;
}
